pyaudio>=0.2.11
gTTS==2.2.1
gTTS-token>=1.1.3
pafy>=0.5.4
psutil>=5.4.8
urllib3>=1.24.1
google-api-python-client>=1.7.5
pyyaml>=3.13
spidev>=3.2
gpiozero>=1.4.1
numpy>=1.15.4
googletrans==3.1.0a0
oauth2client
pvporcupine
soundfile
grpcio
adafruit-circuitpython-servokit
adafruit-circuitpython-motor
pyusb
